body {
  background-color: #000;
  color: #FFF;
  font-family: 'inconsolatamedium';
  font-size: 16px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

#response {
  width: 90%;
  height: 2em;
  padding-left: 0;
  background-color: #000;
  color: #FFF;
  font-family: 'inconsolatamedium';
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
  font-size: 16px;
}

.precursor {
}

.human-response {

}